<!doctype html>
<html id="{{ page_id(self) }}">
<head>
   <title>{% block page_title %}{% endblock %}</title>
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
   <meta name="renderer" content="webkit">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="csrf-token" content="{{ csrf_token() }}"/>
    <link rel='stylesheet' href='/static/css/zhihu.css'>
   {% block meta %}{% endblock %}
   {#   <link rel="Shortcut Icon" href="{{ static('image/favicon.ico') }}">#}
   {#   <link rel="apple-touch-icon-precomposed" sizes="152x152"#}
   {#         href="{{ static('image/apple/apple-touch-icon-precomposed-152.png') }}">#}
   {#   <link rel="apple-touch-icon-precomposed" sizes="120x120"#}
   {#         href="{{ static('image/apple/apple-touch-icon-precomposed-120.png') }}">#}
   {#   <link rel="apple-touch-icon-precomposed" sizes="76x76"#}
   {#         href="{{ static('image/apple/apple-touch-icon-precomposed-76.png') }}">#}
   {#   <link rel="apple-touch-icon-precomposed"#}
   {#         href="{{ static('image/apple/apple-touch-icon-precomposed.png') }}">#}
   {{ app_css(self) }}
   <!--[if IE 9]>
   <link rel="stylesheet" href="{{ static('css/ie9.css') }}"/>
   <![endif]-->
   <!--[if IE 8]>
   <link rel="stylesheet" href="{{ static('css/ie8.css') }}"/>
   <![endif]-->
   <script type="text/javascript">
      var g = {
         rules: {{ rules|safe }},
         domain: "{{ config.SITE_DOMAIN }}",
         csrfToken: "{{ csrf_token() }}",
         method: "{{ request.method }}",
         signedIn: {% if g.user %}true{% else %}false{% endif %},
         pluploadDefaults: {
            flash_swf_url: '/static/bower_components/plupload/js/Moxie.swf',
            silverlight_xap_url: '/static/bower_components/plupload/js/Moxie.xap'
         },
         timerForBackdrop: null
      };
   </script>
   {{ libs_js() }}

   {# Access analysis #}
   <script>
      var _hmt = _hmt || [];
      (function () {
         var hm = document.createElement("script");
         hm.src = "//hm.baidu.com/hm.js?3ef2f8aa6c5ebc5e9af16adb13fe6736";
         var s = document.getElementsByTagName("script")[0];
         s.parentNode.insertBefore(hm, s);
      })();
   </script>
</head>

<body>
<div id="favicon-wx-share" style="margin: 0; display: none;">
   <img src="{{ static('image/favicon_wx_share.jpg') }}" alt=""/>
</div>
<div class="base-wap">
   {# Flash message #}
   {% with message = get_flashed_messages()[0] %}
      {% if message %}
         <div class="alert alert-info flash-message">{{ message }}</div>
      {% endif %}
   {% endwith %}

   <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('site.index') }}">
               <img src="{{ static('image/airdna.png') }}" alt=""/>
               <small>品读文献，赞美科学</small>
            </a>
         </div>
         <div class="navbar-header search hidden">
            <input class="search-input"></input>
            <button onclick="window.location.href='/search/?query=' + $('.search-input').val();return false;" class="search-button cw-icon" type="button"><i></i>搜索</button>
         </div>

         <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left" role="search" action="/search/" method="GET">
                    <div class="form-group">
                      <input type="text" class="form-control search-input" style="display:block;" placeholder="搜索  pubmed" name="query">
                      <span class="search-icon js-search-action pull-right" style="">
                          <button type="submit" class="Icon Icon-search nav-search" tabindex="-1" style=""></button>
                      </span>   
                    </div>
                    <!--<button type="submit" class="btn btn-default"></button>-->
                    <!--<span class="fa fa-search"></span> 搜索-->
                </form>
                <!--<li>-->
                    <!--<input class="search"></input>-->
                    <!--<span class="fa fa-search"></span> 搜索-->
                <!--</li>-->
               <li>
                  <a href="{{ url_for('piece.add') }}" class="need-signed-in">
                     <span class="fa fa-plus"></span> 分享
                  </a>
               </li>


               <li>
                  <a href="{{ url_for('piece.meet') }}">偶遇</a>
               </li>

               <li>
                  <a href="{{ url_for('site.collections') }}">集合</a>
               </li>

               {% if g.user %}
                  <li>
                     <a href="{{ url_for('user.notifications') }}">
                        通知
                        {% if notifications_count %}
                           <span class="notifications-count">{{ notifications_count }}</span>
                        {% endif %}
                     </a>
                  </li>
                  <li>
                  <a href="{{ url_for('user.messages', uid=0, page=1)}}">
                        私信
                        {% if messages_count %}
                           <span class="notifications-count">{{ messages_count }}</span>
                        {% endif %}
                     </a>
                  </li>
                  <li>
                     <a href="{{ url_for('user.likencbis', uid=g.user.id) }}">
                        收藏夹
                     </a>
                  </li>

                  {% if permissions.AdminPermission().check() %}
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           管理 <span class="fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                           <li><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>
                           <li><a href="{{ url_for('admin.users') }}">用户管理</a></li>
                           {#                           <li><a href="{{ url_for('admin.invitation') }}">邀请码</a></li>#}
                           <li><a href="{{ url_for('admin.feedback') }}">意见反馈</a></li>
                           <li>
                              <a href="{{ url_for('admin.piece_log_reports') }}">
                                 文献恶意编辑
                              </a>
                           </li>
                           <li>
                              <a href="{{ url_for('admin.collection_log_reports') }}">
                                 集合恶意编辑
                              </a>
                           </li>
                        </ul>
                     </li>
                  {% endif %}

                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ g.user.name }} <span class="fa fa-angle-down"></span>
                     </a>
                     <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ url_for('user.profile', uid=g.user.id) }}">个人主页</a></li>
                        <li><a href="{{ url_for('user.likes', uid=g.user.id) }}">我的收藏</a></li>
                        <li><a href="{{ url_for('feedback.add') }}">意见反馈</a></li>
                        <li><a href="{{ url_for('user.settings') }}">设置</a></li>
                        <li><a href="{{ url_for('account.signout') }}">登出</a></li>
                     </ul>
                  </li>
               {% else %}
                  <li>
                     <a href="{{ url_for('account.signin') }}" id="nav-signin">登录</a>
                     <span class="nav-devider hidden-xs">/</span>
                     <a href="{{ url_for('account.signup') }}" id="nav-signup">注册</a>
                  </li>
               {% endif %}
            </ul>
         </div>
      </div>
   </nav>

   <div id="main-wap">
      {% block page_content %}{% endblock %}
   </div>

   <div id="footer">
      <ul id='links' class="list-unstyled list-inline">
         <li class="copyright">© 2015</li>
         <li><a href="{{ url_for('site.about') }}">关于</a></li>
         {#         <li><a href="http://blog.1jingdian.com/" target="_blank">博客</a></li>#}
         {#         <li><a href="https://github.com/1jingdian" target="_blank">GitHub</a></li>#}
      </ul>
   </div>
</div>

{# Inject vars on g for single page #}
{% block page_vars %}{% endblock %}
{# 每隔60s发送一次在线状态 #}
{% if g.user %}
<script type="text/javascript">
setInterval(function(){
    $.ajax({url: "/my/online", method: 'post'});
        }, 60*1000);
$.ajax({url: "/my/online", method: 'post'});
$(document).ready(function(){
        /* 搜索PUBMED */
        $(".search-input").on('input', function(e){
                
        });
        /* 取消关注 */
        $("body").delegate(".unfollow", 'click', function(e){
            var userId = $(e.target).attr("data-userid");
            e.preventDefault();
            $.ajax({
                url: "/my/unfollow/" + userId,
                method: "post",
                success: function(){
                if(e.target.tagName.toLowerCase() == "img"){
                    $(".unfollow[data-userid='" + userId + "']").html("关注我").addClass("follow").removeClass("unfollow").attr("src", "/static/image/media/follow.png");
                }else{
                    $(".unfollow[data-userid='" + userId + "']").html("关注我").addClass("follow").removeClass("unfollow").removeClass("zg-btn-unfollow").addClass("zg-btn-follow");
                    }
                },
                error: function(){
                    return
                },
            });
        });
        /* 关注我 */
        $("body").delegate(".follow", 'click', function(e){
            var userId = $(e.target).attr("data-userid");
            e.preventDefault();
            $.ajax({
                url: "/my/follow/" + userId,
                method: "post",
                success: function(){
                    if(e.target.tagName.toLowerCase() == "img"){
                        $(".follow[data-userid='" + userId + "']").html("取消关注").addClass("unfollow").removeClass("follow").attr("src", "/static/image/media/unfollow.png");
                    }else{
                        $(".follow[data-userid='" + userId + "']").html("取消关注").addClass("unfollow").removeClass("follow").removeClass("zg-btn-follow").addClass("zg-btn-unfollow");
                        }
                    },
                error: function(){
                    return
                },
            });
        });
        /* 取消Block */
        $("body").delegate(".unblock", 'click', function(e){
            var userId = $(e.target).attr("data-userid");
            e.preventDefault();
            $.ajax({
                url: "/my/unblock/" + userId,
                method: "post",
                success: function(){
                    $(".unblock[data-userid='" + userId + "']").html("Block").addClass("block").removeClass("unblock").removeClass("zg-btn-unfollow").addClass("zg-btn-follow");
                },
                error: function(){
                    return
                },
            });
        });
        /* Block */
        $("body").delegate(".block", 'click', function(e){
            var userId = $(e.target).attr("data-userid");
            e.preventDefault();
            $.ajax({
                url: "/my/block/" + userId,
                method: "post",
                success: function(){
                    $(".block[data-userid='" + userId + "']").html("UnBlock").addClass("unblock").removeClass("block").removeClass("zg-btn-follow").addClass("zg-btn-unfollow");
                },
                error: function(){
                    return
                },
            });
        });
});

</script>
{% endif %}
{{ page_js(self) }}
</body>
</html>
