.loading-flag {
  color: #aaa;
  display: none;
  margin-top: -15px;
}
#favicon-wx-share{
  position: fixed;
  top: 20%;
}
#favicon-wx-share img{
  width:150px;
  display:none;
}
#favicon-wx-share div{
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  padding-bottom: 5px;
  float:right;
  width: 1.5em;
}
