.loading-flag {
  color: #aaa;
  display: none;
  margin-top: -15px;
}
#favicon-wx-share{
  position: fixed;
  top: 20%;
}
#favicon-wx-share img{
  width:150px;
  display:none;
}
#favicon-wx-share div{
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  padding-bottom: 5px;
  float:right;
  width: 1.5em;
}
.inner{
  float: left;
  width: 200px;
  margin-left:20px;
}
.item_node{
  font-size: 12px;
  line-height: 12px;
  padding: 4px 10px 4px 10px;
  margin: 0px 5px 5px 0px;
  border-radius: 16px;
  display: inline-block;
  border: 1px solid #e5e5e5;
  word-break: break-all;
}
