{% extends "layout.html" %}

{% block page_title %}关于 - AirDNA{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="panel panel-primary">
         <div class="panel-heading">关于</div>
         <div class="panel-body text-center">
            <p>我们热爱星空，于是去探索；</p>

            <p>我们热爱自然，于是去了解；</p>

            <p>我们热爱科学，于是去追寻；</p>

            <p>AirDNA，发现科学的美，</p>

            <p>发现科学背后的人。</p>

            <span class="contact">联系我们：support@airdna.com</span>
         </div>
      </div>
   </div>
{% endblock %}
