{% extends "layout.html" %}
{% from "macros/_piece.html" import render_pieces_by_date %}

{% block page_title %}AirDNA{% endblock %}
{% block page_vars %}
   <script type="text/javascript">
      g.startDate = "{{ start_date }}";
   </script>
{% endblock %}`
{% block page_content %}
<div class="container {% if search_dict %}pull-left{% endif %}">
      {#      {{ render_pieces_by_date(pieces, page, pre_page, next_page) }}#}

      <div class="pieces-container">
         {{ render_pieces_by_date(today_pieces, show_modal=true) }}
         {{ render_pieces_by_date(yesterday_pieces) }}
         {{ render_pieces_by_date(the_day_before_yesterday_pieces) }}
      </div>
      <div class="text-center loading-flag">
         正在加载
      </div>
   </div>
   {% if search_dict %}
        <div class="inner">
        {% for key, value in search_dict.iteritems() %}
        <div>
            <a href="/search/?query={{ key }}" class="item_node">{% if value != "0" %}<i class="W_new"></i>{% endif %}{{ key }}</a>
        </div>
        {% endfor %}
        </div>
   {% endif %}

<div id="favicon-wx-share">
    <div>
        微信扫描
    </div>
   <img src="{{ static('image/qrcode.jpg') }}" alt=""/>
</div>
<script type="text/javascript">
$(document).ready(function(){

    $("#favicon-wx-share div").hover(
        function(e){
            $("#favicon-wx-share img").show();
            $(e.target).hide();
        }    
    );
    $("#favicon-wx-share div").click(
        function(e){
            $("#favicon-wx-share img").show();
            $(e.target).hide();
        }    
    );
    $("#favicon-wx-share img").click(
        function(e){
            $("#favicon-wx-share div").show();
            $(e.target).hide();
        }    
    );
    
});   
</script>
{% endblock %}
