{% extends "layout.html" %}
{% from "macros/_piece.html" import render_pieces_by_date %}

{% block page_title %}AirDNA{% endblock %}
{% block page_content %}
   <div class="container">
      <div class="pieces-container">

   <div class="panel panel-primary pieces-by-date-wap">

      <div class="panel-body">
   <div class="pieces-wap">
      {% for piece in data.data %}

         <div class="piece {% if loop.last %}last{% endif %}" data-piece-id={{ piece.id }}>
             <input name="" class="hidden" ></input> 
            <div class="media">
               <div class="media-left">
               </div>

               <div class="media-body">
                  <div class="pull-right text-right other-info">

                     <div class="comments-count text-right">
                     </div>
                  </div>

                  <div class="content">
                      <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/{{ piece.id }}"> {{ piece.title }}</a>
                  </div>

                  <div class="meta">
                    <div class="source-wap">
                        <span class="source">{{ piece.authors }} {{ piece.pub_date }}发表于{{ piece.pub_journal }}</span>
                    </div>
                    {% if not g.user %}
                    <a href="javascript: void(0)" class="btn-add-collection" data-dbname='{{ piece.db }}' data-uid='{{ piece.id }}'>
                            <span class="fa fa-plus"></span>收藏</a>
                    {% else %}
                        {% if g.user.is_ncbi_collections(piece.db, piece.id) %}                        
                            <a href="javascript: void(0)" class="btn-collection" data-dbname='{{ piece.db }}' data-uid='{{ piece.id }}'>
                                已收藏</a>
                        {% else %}
                        <a href="javascript: void(0)" class="btn-add-collection" data-dbname='{{ piece.db }}' data-uid='{{ piece.id }}'>
                                <span class="fa fa-plus"></span>收藏</a>

                        {% endif %}
                    {% endif %}
                  </div>
               </div>
            </div>
         </div>
      {% endfor %}
   </div>
         {% if not data %}
            <div class="text-center share-piece">
               {#               {% if page == 1 %}#}
               {% if show_modal %}
                  <a href="{{ url_for('piece.add') }}" class="need-signed-in">
                     <span class="fa fa-plus"></span> 分享文献
                  </a>
               {% else %}
                  <span class="text-light">无</span>
               {% endif %}
            </div>
         {% endif %}

      </div>

   </div>

   {% if show_modal %}
      <script type="text/javascript">
         (function () {
            // 显示被隐藏的文献
            $(document).onOnce('click', '.btn-show-hide-pieces', function () {
               $(this).parents('.pieces-by-date-wap').first().find('.hide-pieces').show();
               $(this).parents('.panel-footer').first().detach();
            });
         })();
      </script>
   {% endif %}
      </div>
   </div>

<script type="text/javascript">
$(document).ready(function(){
    $(".pieces-wap").delegate(".meta .btn-add-collection", "click", function(e){
        
            var $e = $(e.currentTarget);
            $.ajax({
                url: "/ncbicollectionpiece/" + $e.data("dbname") + "/" + $e.data("uid") + '/',    
                method: 'POST',
                success: function(data, textStatus, jqXHR){
                    data = JSON.parse(data);
                    $e.html("取消收藏").addClass("btn-remove-collection").removeClass("btn-add-collection");;
                    $e.data("collection_id", data.collection_id);
                },
                error: function(){
                    $e.html("收藏失败");
                },
            });

        });
    $(".pieces-wap").delegate(".meta .btn-remove-collection", "click", function(e){
        
            var $e = $(e.target);
            $.ajax({
                url: "/ncbicollectionpiece/" + $e.data("collection_id") + "/",    
                method: 'DELETE',
                success: function(data, textStatus, jqXHR){
                    $e.html("<span class='fa fa-plus'>收藏</span>").addClass("btn-add-collection").removeClass("btn-remove-collection");;
                },
                error: function(){
                    $e.html("取消失败");
                },
            });

        });
    
});   
</script>
{% endblock %}
