html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #f0f0f0;
  margin-bottom: 100px;
  font-family: Georgia, "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
.flash-message {
  background-color: #3378ca;
  border: 0;
  color: #ffffff;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  border-radius: 0;
  text-align: center;
  display: none;
  padding: 0;
  height: 58px;
  line-height: 58px;
}
.navbar-form {
  margin: 10px 0;
}
.navbar-nav .notifications-count {
  border-radius: 2px;
  background-color: #3378ca;
  color: white;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  line-height: 1;
  padding: 2px 5px;
  vertical-align: 1px;
}
@media (min-width: 768px) {
  #nav-signin {
    padding-right: 4px;
  }
  #nav-signup {
    padding-left: 4px;
  }
  .nav-devider {
    color: #777;
    vertical-align: 1px;
  }
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 20px;
  color: #aaa;
}
#footer li {
  padding: 0 6px;
}
#footer a {
  color: #aaa;
}
#footer a:hover {
  color: #3378ca;
}
.search{
  width: 200px;
  margin-left:20%;
}
.search-input{
  /*margin-left: 20%;*/
  /*border-width: 2px 0 2px 2px;*/
  /*border-color: #B61D1D;*/
  /*border-style: solid;*/
  /*outline: 0;*/
  /*font-size: 14px;*/
  /*margin-top: 15%;*/
  /*background: url("/static/image/search@1x.png") no-repeat 95% 50% #ffffff;*/
  /*padding: 0 0 0 30px; */
  width:150px;
  border-radius: 21px;
  transition: all .2s ease-in-out;
  margin-top:2px;
}
.search-button{
  font-size: 12px;
  height: 32px;
  color: #333;
  background-color: #f7f7f7;
  /*float: left;*/
  height: 36px;
  background: #B61D1D;
  border: none;
  line-height: 1;
  color: #fff;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  cursor: pointer;
  position: relative;
  zoom: 1;
}
.fa-search{
  margin-top:13px;
}
input.search-input::-moz-placeholder {
        font-size:12px;
}
 
input.search-input::-webkit-input-placeholder {
        font-size:12px;
}
.search-icon{
    top: 3px; 
    right: -3px; 
    margin-top: -32px;
    margin-left: -20px;
    display: block; width: 26px; height: 26px; cursor: pointer;
    background: transparent;
}
.nav-search{
    color: #66757f; font-size: 13px; 
    height: 20px; 
    background: transparent;
    margin: 3px 0 0 0; padding: 0; border: 0;
    width: 20px;
    background: url("/static/image/search@1x.png") no-repeat 95% 50% #ffffff;
    outline:none;
}
