{% extends 'layout.html' %}
{% block page_title %}AirDNA{% endblock %}
{% block page_content %}
<div class="center-block" style="text-align:center;">
    <p style="font-size: 30px;font-family: 'Microsoft YaHei';">文件下载中..........</p>
    <img src="{{ static('image/animal.loading.gif') }}" alt=""/>
</div>
<script type="text/javascript">
function get_url(){
  $.getJSON('', function(data, status, response){
      if(data.url){
      window.location.href = data.url;
        $.get(data.url, function(data, status, response){
              document.write(data);
          });
      }
      else{
        setTimeout(get_url, 10*1000);
      }
    })
}
$(document).ready(function(){
  get_url();    
});
</script>
{% endblock %}
